body {
    position: relative;
    width:100%;
    height: auto;
    background-color: #ECE2D0;
    font-family: "Segoe UI","微軟正黑體",sans-serif;
    overflow-y: scroll;
}

.h1, h1 {
    font-size:3.75em;
}
p {
    word-wrap: break-word;
}
/* Navagation Bar */


nav {
    background-color: #254F6E;
}
.navbar-brand {
    width: 10vw;
    height:10vh;
}

.navbar-brand img {
    width: 15vw;
    height: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}
.dropdown-menu {
    background-color: #fffdf6;
    border-radius: 0 0 .25rem .25rem;
    margin-top: .5rem;
    border-style: none;
}

.dropdown-menu a:hover { 
    background-color: #afcee2; 
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu:before {
    /*在menu跟dropdown中間加一塊透明的block*/
    content: " ";
    display: block;
    position: absolute;
    height: 25px;
    top: -25px;
    left: 0;
    right: 0;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    /*target active才不會讓滑鼠滑上去的時候沒改變*/
    pointer-events: none;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-expand-lg .navbar-nav.navbar-nav {
        flex-grow: 1;
        padding: 0 10% 0 15%;
    }
    .vertical.divider {
        width: 1px;
        margin: .5rem 0;
        background: white;
    }

}
.breadshape{
    width: 24em;
    height: 2em;
    margin-left:-3em;
    -webkit-transform: skew(-60deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(20deg);
    background: #254F6E;
}
#breadtext a:hover{
    color:rgb(99, 38, 38);
}
#breadtext a{
    color:grey;
}

#breadtext{
    margin-left:8em;
    font-style:none;
    transform: skew(60deg);
    color:white;
}

/* Context */

/* SideNav */

@media (min-width: 992px) { 
    .sidenav {
        height: 100vh;
        margin: 0;
    }
    

}
.sidenav ul {
    list-style-type: none;
    
}

.list-group{
    position:fixed;
}

.index {
    font-size: 1.2em;
    color: grey;
}
.sidenav a.active {
    font-size: 2em;
    color: black;
}

/* main */
main {
    width: 81.5%;
    padding-top: 12vh;
}

.pageName {
    width: 100%;
    border-bottom-style:solid; 
    border-bottom-width:medium;
    margin-bottom: 5vh;
    margin-top:10vh;
}

main section {
    padding: 5vh 10vw 5vh 0;
}

