/* Compete with HQ */
/*
#mw-content-text {
    background-color: #f0f0f0;
    color: #2C2C2C;
}
#mw-content-text p{
    font-family: 'Raleway',"微軟正黑體",sans-serif;
}
#mw-content-text h1, h2, h3, h4, h5 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
}
*/
html {
    scroll-behavior: smooth;
    color: #2C2C2C;
}
body {
    position: relative;
    width:100%;
    height: auto;
    background-color: #f0f0f0;
    font-family: 'Raleway',"微軟正黑體",sans-serif;
    overflow-y: scroll;
}
/*Be selected*/
::selection {
    background-color: rgb(139, 190, 213);
  }
/*add #mw-content-text in the front*/
/* Page Name */
.h1, h1 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
    font-size:3.75rem;
    font-weight: 800;
}
/* Subtitle */
.h2, h2 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2vh;
}
/* Sub-Subtitle */
.h3, h3 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
main p {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    font-size: 1.1rem;
}

main a {
    text-decoration:underline;
}
main a:hover {
    color: #8BBED5;
    text-decoration:underline;
}

/* Navagation Bar */
.fixed-top {
    top: 16px;
}
nav {
    background-color: #172544;
    opacity:0.96;
    font-size:1.3rem;
}
.navbar {
    padding: 0rem 1rem;
}
nav .fake {
    width:56px;
    height:40px;
}
.navbar-brand {
    width: 30vw;
    height:auto;
    margin-right: 0;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}
.dropdown-menu {
    background-color: #fffdf6;
    border-radius: 0 0 .25rem .25rem;
    margin-top:.5rem;
    border-style: none;
    display:none;
}

.dropdown-menu a:hover { 
    background-color: #8BBED5; 
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu::before {
    /*在menu跟dropdown中間加一塊透明的block*/
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width:160px;
    top: -30px;
    left: 0;
    background-color:transparent;
    cursor: pointer;
    z-index:-2;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    /*target active才不會讓滑鼠滑上去的時候沒改變*/
    pointer-events: none;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-expand-lg .navbar-nav.navbar-nav {
        flex-grow: 1;
        padding: 0 10% 0 15%;
    }
    .navbar-brand {
        width: 13vw;
        height:auto;
    }
}
.bread {
    height: 2.5rem;
    margin: 0;
    padding: 0;
    position: relative;
    opacity:0.96;
    z-index:-5;
}
.bread .shape {
    width: calc(20% - 2.5rem);
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #172544;
}
.bread::after {
    content: ""; 
    position: absolute;
    left: calc(20% - 2.5rem);
    width: 0;
    height: 0;
    border-top: 2.5rem solid #172544;
    border-right: 2.5rem solid transparent;
}
#breadtext a{
    color: white;
    font-size: 0.9rem
}

#breadtext{
    font-style:none;
    color:white;
    margin: 0;
}

/* Context */

/* SideNav */

@media (min-width: 992px) { 
    .sidenav {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        height: 100vh;
        margin: 0;
    }
}
.sidenav ul {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
    list-style-type: none;
    position:fixed;
}

.sidenav a {
    text-align: center;
    font-size: 1.2rem;
    color: #767676;
}
.sidenav a.active {
    color: white;
    background-color: #8BBED5;
    border-radius: 1rem;
}

/* main */
main {
    padding-top: 12vh;
}

.pageName {
    width: 100%;
    border-bottom-style:solid; 
    border-bottom-width:medium;
    margin-bottom: 5vh;
    margin-top:0;
    padding-left: 5%;
}
main section {
    padding: 5vh 6vw 5vh 6vw;
}
main hr {
    border-style: solid;
    border-color: #2C2C2C;
    margin-right: 3vw;
    margin-left: 3vw;
}
main .ref ol {
    margin-left: 1.1em;
}
.ref h2 {
    font-weight: normal;
}
figure {
    margin: 1vh 0 3vh 0;
}
/*lg: destop*/
@media (min-width: 992px) { 
    main {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
        margin: 0;
        padding-left: 6vw;
    }
    main hr {
        margin-right: 7vw;
        margin-left: 0vw;
    }
    .pageName {
        padding-left: 0%;
        margin-top:2vh;
    }
    main section {
        padding: 1vh 10vw 1vh 0;
    }

}
/*footer start*/    
footer{
    background: #4F545F;
    width: 100%;
    height:100%;
}
.footer-container{
    padding: 1rem 0 2rem 0;
}
.footer-row{
    margin:1rem 2rem;
}
footer .colOne{
    display: flex;
    justify-content: space-between;
    padding:0;
}
footer .colTwo{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:1rem 0;
    height:50px;
}
footer .col-12{
    padding-right: 0;
    padding-left: 0;
}
.col-two-icon{
    display: flex;
    justify-content: space-between;
    align-self: top;
    padding:0;
}
.colOne img{
    height:60px;
    width: 60px;
    margin:0;
    padding:0;
    margin:0 0 10px 0;
}
.colTwo img{
    height:30px;
    width: 30px;
    margin:0;
}
.footer-text{
    align-self: baseline;
    color: white;
    font-family: sans-serif;
}
footer a:link{
    text-decoration: none;
}
/*large device like computer*/
@media (min-width: 992px) { 
    .colOne img{
        height:80px;
        width: 80px;
        margin:0;
        padding:0;
        margin:0;
    }
}
/*footer end*/