
/* template */
html {
    scroll-behavior: smooth;
    color: #2C2C2C;
}
body {
    position: relative;
    width:100%;
    height: auto;
    background-color: #f0f0f0;
    font-family: 'Raleway',"微軟正黑體",sans-serif;
    overflow-y: scroll;
}
/*Be selected*/
::selection {
    background-color: #8BBED5;
  }
/* Page Name */
.h1, h1 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
    color: #2C2C2C;
    font-size:3.75rem;
}
/* Subtitle */
.h2, h2 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
}
/* Sub-Subtitle */
.h3, h3 {
    font-family: 'Sansita',"微軟正黑體",sans-serif;
}
p {
    word-wrap: break-word;
}
/* Navagation Bar */
.fixed-top {
    top: 16px;
}
nav {
    background-color: #172544;
    opacity:0.8;
    font-size:1.3rem;
}
.navbar {
    padding: 0rem 1rem;
}
nav .fake {
    width:56px;
    height:40px;
}
.navbar-brand {
    width: 30vw;
    height:auto;
    margin-right: 0;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}
.dropdown-menu {
    background-color: #fffdf6;
    border-radius: 0 0 .25rem .25rem;
    margin-top: .5rem;
    border-style: none;
}

.dropdown-menu a:hover { 
    background-color: #afcee2; 
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu:before {
    /*在menu跟dropdown中間加一塊透明的block*/
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    top: -30px;
    left: 0;
    right: 0;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    /*target active才不會讓滑鼠滑上去的時候沒改變*/
    pointer-events: none;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-expand-lg .navbar-nav.navbar-nav {
        flex-grow: 1;
        padding: 0 10% 0 15%;
    }
    .navbar-brand {
        width: 13vw;
        height:auto;
    }
}
.bread {
    height: 2.5rem;
    margin: 0;
    padding: 0;
    position: relative;
    opacity:0.96;
    background: #172544;
}
.bread .shape {
    width: calc(20% - 2.5rem);
    height: 100%;
    margin-right: 0px!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.bread::after {
    content: ""; 
    position: absolute;
    left: calc(20% - 2.5rem);
    width: 0;
    height: 0;
    border-top: 2.5rem solid #172544;
    border-right: 2.5rem solid transparent;
}
#breadtext a{
    color:grey;
}

#breadtext{
    font-style:none;
    color:white;
    margin: 0;
}

/* home.css */
section {
    width: 100%;
    height: 100vh;
}
.wrapper {
    height: 100%;
}
/*
#Project {
    background-color: grey;
}
#Video {
    background-color: ghostwhite;
}
#Game {
    background-color: gainsboro;
}
footer {
    background-color: gray;
}
*/
/* make the footer height fit current size
.footer-wrapper {
    height: 40vh;
}
*/
/* Logo Part */
#Logo {
    position: relative;
}
.logo-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
}
#Logo-video {
    width: auto;
    height: 60%;
}
.down-wrapper {
    position: absolute;
    width: 100%;
    bottom: 5%;
    right: 0;
    left: 0;
}
.down {
    display: none;
}
.bounce {
    animation: bounce 3s;
    animation-iteration-count: infinite;
  }
@keyframes bounce {
    0%, 25%, 50%, 75%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-12px);
    }
}

.fa-angle-double-down {
    font-size: 50px;
}
/* nav */
nav {
    background-color: #172544;
    opacity:0.8;
}
/* Project */
.text-wrapper {
    padding-left: 10%;
    height: 100vh;
}
.img-wrapper {
    padding-right: 10%;
    height: 100vh;
}
img.device {
    width: 70%;
    height: auto;
}
video#Intro-video {
    margin-bottom: 5%;
    width: auto;
    height: 70%;
}
/*snake game css start*/
canvas{
    box-sizing: border-box;
    display: block;
    justify-content: center;
	border: 4px dashed black;
    background: transparent;
}
.snakeScore{
    display: flex;
    justify-content: center;
    margin-bottom:25px;
    margin-top:10px;
}
.scoreSpan{
    width: 50%; 
} 
.canvasSnake{
    display:flex;
    text-align: center;
    font-size: 2em;
    margin-bottom:10;
    padding:10 0;
    border: 4px dashed #7cf20a;
    width:50%;
}
.canvasSnake2{
    display:flex;
    justify-content: center;
    width:100%;
}
#snakeStory{
    position: absolute;
    top:30%;
    left:30%;
    right:35%;
}
#snakeForm{
    position: absolute;
    top:35%;
    left:44.3%;
    display:none;
}
#snakeButton2{
    position: absolute;
    top:55%;
    left:44%;
    padding:10px 15px;
    color:white;
    background-color: black;
    cursor:pointer;
    border:2px dashed #7cf20a;
    font-size:25px
}
#snakeButton{
    position: absolute;
    top:100%;
    left:16%;
    padding:10px 15px;
    color:white;
    background-color: black;
    cursor:pointer;
    border:2px dashed #7cf20a;
    font-size:25px
}
#snakeImg{
    position: absolute;
    top:70px;    
    z-index: -1;
    opacity:0.3;

    
}
#divImg{
    display:flex;
    justify-content: center;
}
.canvasShake{
    animation:shake 1s;
    animation-iteration-count: 1;
}
@keyframes shake{
    0%,20%,40%,60%,80%{
        transform: translateX(10px)
    }
    10%,30%,50%,70%,90%{
        transform: translateX(-10px)
    }
    100%{
        transform: translateX(0)
    }
}
.noscroll{
    position:fixed;
    overflow-y:scroll;
    width:100%;
}
/*snake game css end*/
/*footer start*/    
footer{
    background: #4F545F;
    width: 100%;
    height:100%;
}
.footer-container{
    padding: 1rem 0 2rem 0;
}
.footer-row{
    margin:1rem 2rem;
}
footer .colOne{
    display: flex;
    justify-content: space-between;
    padding:0;
}
footer .colTwo{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:1rem 0;
    height:50px;
}
footer .col-12{
    padding-right: 0;
    padding-left: 0;
}
.col-two-icon{
    display: flex;
    justify-content: space-evenly;
    align-self: top;
    padding:0;
}
.colOne img{
    height:70px;
    width: 60px;
    margin:0;
    padding:0;
    margin:0 0 10px 0;
}
.colTwo img{
    height:30px;
    width: 30px;
    margin:0;
}
.footer-text{
    align-self: baseline;
    color: white;
    font-family: sans-serif;
}
footer a:link{
    text-decoration: none;
}
/*large device like computer*/
@media (min-width: 992px) { 
    .colOne img{
        height:80px;
        width: 80px;
        margin:0;
        padding:0;
        margin:0;
    }
    .col-two-icon{
        justify-content:space-between;
    }
}
/*footer end*/